<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Confirmación de carro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	
  <ion-list>
    <ion-item *ngFor="let item of currentCart.products | keyvalue">
      <ion-img [src]="item.value.image" slot="start"></ion-img>
      {{item.name}}
      <div class="item-quantity" slot="end" (click)="cart(item.value)">
        <p class="quantity-value" *ngIf="item.value.quantity > 0">{{item.value.quantity == 0? "": item.value.quantity}}</p>
        <p class="price-value" *ngIf="item.value.quantity > 0">${{item.value.quantity == 0? "": item.value.quantity*item.value.price}}</p>
        <ion-icon name="basket"></ion-icon>
      </div>
    </ion-item>
  </ion-list>


  <div class="back-modal" *ngIf="showAddCartModal">
    <div class="modal">
      <form class="form" [formGroup]="cartForm" (ngSubmit)="applyCart(cartForm.value)">
        <ion-list>
          <p class="title">{{product.name}}</p>
          <ion-item>
            <ion-label color="primary">Cantidad</ion-label>
            <ion-input clearInput placeholder="0" type="text" formControlName="quantity" class="form-controll" required></ion-input>
          </ion-item>
          <ion-button full class="login-button" type="submit">Confirmar</ion-button>
          <ion-button full color="danger" (click)="cancelCart()">Cerrar</ion-button>
        </ion-list>
      </form>
    </div>
  </div>

  <ion-button *ngIf="currentCart.cartTotal > 0" class="confirm-cart" shape="round" (click)="confirmCart()">
    <span>${{currentCart.cartTotal}}</span>
    <ion-icon name="checkmark"></ion-icon>
  </ion-button>

  <ion-button class="cancel-cart" shape="round" (click)="cancelCart()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

</ion-content>
