<ion-header>
  <ion-toolbar>
    <ion-title>Confirmación de información del usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>
	  <ion-item>
	    <ion-label>Nombre</ion-label>
	    <ion-input></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label>Apellido</ion-label>
	    <ion-input></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label>Address</ion-label>
	    <ion-input></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label>City</ion-label>
	    <ion-input></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label>State</ion-label>
	    <ion-input></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label>PostCode</ion-label>
	    <ion-input></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label>Country</ion-label>
	    <ion-input></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label>Phone</ion-label>
	    <ion-input></ion-input>
	  </ion-item>
	</ion-list>

  <ion-button *ngIf="userInfoOK" class="confirm-userinfo" shape="round" (click)="finalConfirmation()">
    <ion-icon name="checkmark"></ion-icon>
  </ion-button>

  <ion-button class="cancel-userinfo" shape="round" (click)="cancelConfirm()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

</ion-content>
